/* Customize your header if needed */
.navbar {
    background-color: #fff; /* Override default bootstrap colors */
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  .navbar .btn, .navbar .btn:hover {
    width: 193.31px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #00732F;
    font-size: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #00732F;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14.25px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }