.section-1 {
    background-image: url('../../../public/section-1-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 609px;
}
.search-input-group {
    display: flex;
    flex-direction: column; /* Stack items vertically by default */
    align-items: center; /* Center items horizontally */
  }
  
  .input-icon {
    position: relative;
    width: 100%; /* Full width on mobile */
    max-width: 400px; /* Optional: maximum width for larger screens */
    margin-bottom: 10px; /* Space between inputs */
  }
  
  .search-input {
    width: 100%;
    padding: 10px 40px; /* Padding for input */
    border: none;
    border-radius: 5px;
    outline: none;
    color: #000; /* Text color inside input */
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
  }
.section-2-btn, .section-2-btn:hover {
    width: 317px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #00732F;
    color: #fff;
    background-color: #00732F;
}
.section-2-btn-2 {
    width: 45%;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #E7760D;
    color: #3E3E3E;
    background: #fff;
}
.section-3 {
    background-color: #072F57;
    height: 623px;
}
.nav-tabs, .nav-tabs:hover {
    border: unset !important;
  }
  
  .nav-tabs .nav-link {
    color: #fff !important;
    font-size: 26px !important;
  }
  
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active, .nav-link:hover {
    border: unset !important;
    color: orange !important;
    background-color: transparent !important;
    border-bottom: 2px solid orange !important;
  }
  
  .list-unstyled {
    color: #fff !important;
    margin-top: 20px;
  }
  
  .check-icon {
    width: 18px;
    height: 18px;
    background-color: green;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .check-icon i {
    color: white; /* Ensure the check icon is white */
  }
  .section-4 {
    background: #E8FBFF;
    height: 254px;
  }

  .section-4-btn, .section-4-btn:hover {
    width: 317px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #EB7150;
    color: #fff;
    background-color: #EB7150;
}
  