.habot-title {
    color: #000;
    font-weight: 700;
    font-size: 37.34px;
}
.habot-text {
    color: #000;
    font-weight: 400;
    font-size: 17.16px;
    width: 100%;
}
.section-1 {
    background-image: url('../../../public/section-1-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 609px;
}
.search-input-group {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: center; /* Center align items */
  }
  
  .input-icon {
    position: relative;
    flex: 1; /* Allow inputs to grow */
    min-width: 200px; /* Minimum width for inputs */
    max-width: 400px; /* Maximum width for inputs */
    margin: 5px; /* Space around inputs */
    margin-top: 0px !important;
  }

  .input-icon-img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 10px;
    margin-top: 20px;
  }
  
  .search-input {
    width: 100%;
    height: 56px;
    padding: 10px 40px; /* Padding for input */
    border: none;
    border-radius: 5px;
    outline: none;
    color: #000; /* Text color inside input */
  }
  
  .search-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    height: 54px;
    width: 117.94px;
    margin-left: 10px; /* Space between button and inputs */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Media Queries for responsive design */
  @media (max-width: 768px) {
    .search-input-group {
      flex-direction: column; /* Stack inputs vertically */
      align-items: center; /* Stretch inputs to full width */
    }
    .section-1 {
      height: auto;
  }
  }
.section-2-btn, .section-2-btn:hover {
    width: 317px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #00732F;
    color: #fff;
    background-color: #00732F;
    font-size: 18px;
    font-weight: 700;
}
.section-2-btn-2 {
    width: 45%;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #E7760D;
    color: #3E3E3E;
    background: #fff;
    font-size: 18.75px;
    font-weight: 500;
    /* font-family: inter; */
}
.section-3 {
    background-color: #072F57;
    height: 623px;
}
.nav-tabs, .nav-tabs:hover, .nav-tabs .nav-link:hover {
    border: unset !important;
  }
  
  .nav-tabs .nav-link {
    color: #fff !important;
    font-size: 26px !important;
    font-weight: 700;
    line-height: 32px;
  }
  /* .nav-tabs .nav-link:hover {
    color: #fff !important;
    font-size: 26px !important;
    font-weight: 700;
    line-height: 32px;
  } */
  
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border: unset !important;
    color: #EB7150 !important;
    background-color: transparent !important;
    border-bottom: 4px solid #EB7150 !important;
  }
  
  .list-unstyled {
    color: #fff !important;
    margin-top: 20px;
    font-size: 18.75px;
    font-weight: 500;
  }
  
  .check-icon {
    width: 18px;
    height: 18px;
    background-color: green;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .check-icon i {
    color: white; /* Ensure the check icon is white */
  }
  .section-4 {
    background: #E8FBFF;
    height: 254px;
  }

  .section-4-btn, .section-4-btn:hover {
    width: 317px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #EB7150;
    color: #fff;
    background-color: #EB7150;
}
  